
<div *ngFor="let processor of tradeProcessorData" class="trade-card">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">

          <p class="card-text"><b> Id: </b> {{processor.id}}</p>
          <p class="card-text"><b>User Id: </b> {{processor.userId}}</p>
          <h6><b>Amount sell: </b>{{processor.amountSell}}</h6>
        </div>
        <div class="col-6">
          <p class="card-text"> <b>Country:</b> {{processor.originatingCountry}}</p>
          <b>Date:</b>  <a href="#" class="card-link"> {{processor.timePlaced | date}}</a>
        </div>

      </div>

    </div>
  </div>
</div>

